<%= form_for @user, url: user_path do |f| %>
  <p>
  <%= f.label :email %>
  <br>
  <%= f.text_field :email %>
  <%= @user.errors[:email].first %>
</p>
<p>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password_digest %>
  <%= @user.errors[:password].first %>
</p>
<p>
  <%= f.label :password_confirmation%>
  <br>
  <%= f.password_field :password_confirmation %>
  <%= @user.errors[:password_confirmation].first %>
</p>
  <%= f.submit :OK %>
<% end %>
